.link-label {
  color: blue; /* Cambia el color del texto a azul para que se parezca a un enlace */
  text-decoration: underline; /* Agrega un subrayado para indicar que es un enlace */
  cursor: pointer; /* Cambia el cursor al pasar sobre él para que se vea como un enlace */
}
