<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>compra</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >
  <ion-grid>
    <ion-row *ngIf="!butacas">
      <ion-col size="12">
        <ion-label class="pantalla">Pantalla</ion-label>
      </ion-col>
      <ion-col size="2" *ngFor="let seat of seats">
        <ion-button [color]="getSeatColor(seat)" (click)="selectSeat(seat)">
          {{ seat }}
        </ion-button>
      </ion-col>

      <ion-col size="12">
        <ion-label >Butacas Seleccionadas: {{ selectedSeats.length }}</ion-label>
      </ion-col>
      <ion-col size="12">
        <ion-label >Butacas Seleccionadas:{{ selectedSeats.join(', ') }} </ion-label>
      </ion-col>

      <ion-col >
        <ion-button [disabled]="selectedSeats.length <= 0"  size="large" class="siguiente" (click)="ComprarButacas()">Siguiente</ion-button>
        <ion-button class="siguiente" color="dark" size="large" (click)="VolverPelicula()">Volver</ion-button>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="!kandy">
      <ion-col size="12" >
        <ion-card>
          <img alt="Combo de bebida y Pochoclo" src="../../assets/combo.jpg" />
          <ion-card-header>
            <ion-card-title>Combo</ion-card-title>
            <ion-card-subtitle>Bebida y pochoclo</ion-card-subtitle>
          </ion-card-header>

          <ion-card-content>
            Gaceosa ,Agua ,Cerveza. Pochoclos dulces y salados.
          </ion-card-content>
          <ion-button fill="clear" size="large" (click)="Menos('cantidadcombo',cantidadcombo)"><ion-icon name="remove-circle-outline"></ion-icon></ion-button>
          <ion-label class="cantidades">{{cantidadcombo}}</ion-label>
          <ion-button fill="clear" size="large" (click)="Mas('cantidadcombo',cantidadcombo)"><ion-icon name="add-circle-outline"></ion-icon></ion-button>
        </ion-card>
        <ion-card>
          <img alt="Pochoclo" src="../../assets/pochoclo.jpg" />
          <ion-card-header>
            <ion-card-title>Pochoclo</ion-card-title>
            <ion-card-subtitle>Pochoclo</ion-card-subtitle>
          </ion-card-header>

          <ion-card-content>
            Pochoclos dulces y salados.
          </ion-card-content>
          <ion-button fill="clear" size="large" (click)="Menos('cantidadpochoclo',cantidadpochoclo)"><ion-icon name="remove-circle-outline"></ion-icon></ion-button>
          <ion-label class="cantidades">{{cantidadpochoclo}}</ion-label>
          <ion-button fill="clear" size="large" (click)="Mas('cantidadpochoclo',cantidadpochoclo)"><ion-icon name="add-circle-outline"></ion-icon></ion-button>
        </ion-card>
        <ion-card>
          <img alt="Bebida" src="../../assets/bebida.png" />
          <ion-card-header>
            <ion-card-title>Bebidas</ion-card-title>
            <ion-card-subtitle>Bebida </ion-card-subtitle>
          </ion-card-header>

          <ion-card-content>
            Gaceosa ,Agua ,Cerveza.
          </ion-card-content>
          <ion-button fill="clear" size="large" (click)="Menos('cantidadbebida',cantidadbebida)" ><ion-icon name="remove-circle-outline"></ion-icon></ion-button>
          <ion-label class="cantidades">{{cantidadbebida}}</ion-label>
          <ion-button fill="clear" size="large" (click)="Mas('cantidadbebida',cantidadbebida)"><ion-icon name="add-circle-outline"></ion-icon></ion-button>
        </ion-card>
      </ion-col>

      <ion-col size="12">
        <ion-label>
          Total de entradas: {{ selectedSeats.length }}
        </ion-label>
      </ion-col>
      <ion-col size="12">
        <ion-label>
          Total de Kandy: {{cantidadcombo+cantidadpochoclo+cantidadbebida}}
        </ion-label>
      </ion-col>
      <ion-col size="12">
        <ion-label>
          Total total de items: {{ selectedSeats.length+cantidadcombo+cantidadpochoclo+cantidadbebida }}
        </ion-label>
      </ion-col>

      <ion-col size="12">
        <ion-button id="pago" class="siguiente" size="large" (click)="Ticket()" >Pagar</ion-button>
      </ion-col>
      <ion-col size="12">
        <ion-button  class='siguiente'color="dark" size="large" (click)="ComprarButacas()">Volver</ion-button>
      </ion-col>
      <ion-col>
        <ion-button class="siguiente" color="dark" size="large" >doc</ion-button>
      </ion-col>
      <ion-toast [isOpen]="isToastOpen" message="Tu ticket de compra se Guardo Exitosamente" [duration]="5000"></ion-toast>
    </ion-row>
  </ion-grid>
</ion-content>
